h2 {
    text-align: center;
    color: blanchedalmond;
  }

  p {
    text-align: center;
    color: antiquewhite;
  }

  ul {
    padding-left: 200px;
  }

  .about-container {
    color: antiquewhite;
    max-width: 950px;
    margin: 0 auto;
    padding: 20px;
  }