:root {
  --ring1: #47378d; /* Drafting */
  --ring2: #631e0b; /* Self-edit */
  --ring3: #513a24; /* Professional Edit */
  --ring4: #3c722e; /* Release Prep */
}
/*
#190e0b
#311911
#513a24
#91724d
#642e19

70533f
d09858
9a4225
*/

.progress-widget {
  color: #eee;
  text-align: center;
  margin-top: 25px;
}

.circle-stack {
  position: relative;
  width: 220px;
  height: 220px;
  margin: 0 auto 15px auto;
}

.progress-ring {
  position: absolute;
  border-radius: 50%;
  border: 4px solid #111;
}

/* Outermost */
.ring1 {
  width: 220px;
  height: 220px;
}

/* Next inward */
.ring2 {
  width: 180px;
  height: 180px;
  top: 20px;
  left: 20px;
}

.ring3 {
  width: 140px;
  height: 140px;
  top: 40px;
  left: 40px;
}

.ring4 {
  width: 100px;
  height: 100px;
  top: 60px;
  left: 60px;
}

/* Legend */
.legend {
  text-align: center;
  font-size: 0.9rem;
}

.legend p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 4px 0;
}

.dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: inline-block;
}

.dot1 { background: #b56576; }
.dot2 { background: #6d597a; }
.dot3 { background: #355070; }
.dot4 { background: #e56b6f; }