h2 {
    text-align: center;
    color: blanchedalmond;
  }

  p {
    text-align: center;
    color: antiquewhite;
  }

  .book-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2rem;
    margin-left: 200px;
  }

  .bookimage img {
    width: 233px;
    height: 333px
  }

  .booktext h2,
  .booktext p {
    margin: 0.5rem 0;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }